*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left , #34c3e7,#a8f5ff);;
}
.inner-box{
    width: 350px;
    margin: 0 auto;
    position: relative;
    top: 43%;
    transform: translateY(-40%);
    padding: 20px 30px;
    background: linear-gradient(to top left, #ffffff,#ffffff33);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    box-shadow: 2px 2px 5px #2773a5;
    z-index: 50;
}


.signup-header h1{
    font-size: 2.5rem;
    color: #212121;
    margin-bottom: 3px;
}

.signup-header p{
    font-size: 0.9rem;
    color: #555;
}
.signup-body{
 margin: 20px 0px;
}
.signup-body p{
 margin: 10px 0px;
}

.signup-body p label{
 display: block;
 margin-bottom: 2px;
 font-weight: bold;
}
.signup-body p input{
 width: 100%;
 padding: 10px;
 border: 2px solid #cccc;
 border-radius: 0.3rem;
}


#submit{
    background: #3498bb;
    border: none;
    cursor: pointer;
    color: white;
}
#submit:hover{
    background: #308aaa;
}

.signup-footer p{
    text-align: center;
    color: #555;

}

.signup-footer p a {
    
    color: #3498bb;

}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to right,#ffffff33,#ffffffff);
    position: absolute;
}


.c1{
    top: 50px;
    left: 50px;
}

.c2{
    bottom: 50px;
    right: 50px;
}